body{
    background-size: cover;
    background-color: rgb(245, 213, 171);
    /* background-image: url('https://html-templates.info/images/pages/140520040155.jpg') */
}

header{
    width: auto;
    margin: 10px;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    color:beige;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#btnAdd{
    background-color:transparent;
    border: none;
    text-transform: uppercase;
    color:#fff;
    width: 100px;
    font-size:24px;
    cursor: pointer;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#btnAdd:hover{
    color: rgb(105, 140, 255);
    border:none
}

input{
    width:50%;
    background-color: transparent;
    border:3px solid whitesmoke;   
    margin-bottom: 5px; 
    padding:8px;
    outline:none;
    text-transform: uppercase;
    border-radius: 5px;
    color:#001866;
}


ul{    
   
    border-radius: 10px; 
    margin-left: 110px;
    width: 1000px;
    height: auto;
    padding: 0 0px;
    
}

li {
  
  list-style-type: none;
  font-weight: bold;
  position: relative;
  padding: 12px 100px 12px 20%;
  font-size: 18px;
  transition: 0.2s;
  text-transform:uppercase ;
  color: #001866;
}

input, button {
    outline: none;
}

li:hover{
    color: #4d73ff;
    background-color: lemonchiffon;
} 

.delete{    
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 300px;  
    
}

.checkbox{
    left: 0;
    position: absolute;
    top:0;
}
